*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 40%;
    position: absolute;
}

.order-info{
    padding: 50px;
}

.order-info h1{
    padding: 20px;
    font-family: cursive;

}

.subscription-plan{
    flex-direction: column;
}

.amount{
    border: 1px white solid;
    border-radius: 15px;
    background-color: blueviolet;
    color: black;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 25em;
    margin-bottom: 20px;
    margin-right: 0 20px;
}

.settings{
    float: right;

    
}